<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <property name="timeOfRun">${date:HH-mm-ss}</property>
    </Properties>
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="%d - %msg%n%throwable"/>
        </Console>
        <RollingFile name="RollingFile" fileName="target/logs/logs-${timeOfRun}.log"
                     filePattern="logs/compressed-logs-$${date:MM-dd}.log.gz">
            <PatternLayout pattern="%d - %msg%n%throwable"/>
            <Policies>
                <OnStartupTriggeringPolicy minSize="1"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="RollingFile"/>
        </Root>
    </Loggers>
</Configuration>